{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>AiNetwork Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static "assets/images/favicon.ico" %}">

    <!-- App css -->
    <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "assets/css/icons.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "assets/css/metismenu.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "assets/css/style.css" %}" rel="stylesheet" type="text/css" />

    <script src="{% static "assets/js/modernizr.min.js" %}"></script>

</head>


<body class="account-pages">

{% block login %}

{% endblock %}


<!-- jQuery  -->
<script src="{% static "assets/js/jquery.min.js" %}"></script>
<script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "assets/js/metisMenu.min.js" %}"></script>
<script src="{% static "assets/js/waves.js" %}"></script>
<script src="{% static "assets/js/jquery.slimscroll.js" %}"></script>

<!-- App js -->
<script src="{% static "assets/js/jquery.core.js" %}"></script>
<script src="{% static "assets/js/jquery.app.js" %}"></script>

</body>
</html>